<section>
    <div class="headerBar">
        <h1>Education</h1>
    </div>
    <div class="content_about">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title style="font-size: 30px;color: #0000ff;">Aryabhatta College Of Engineering And Research Center</mat-card-title>
              <mat-card-subtitle style="font-size: 20px;color: #0000ff;">Ajmer,Rajasthan</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <ul>
                <li>B.Tech</li>
                <li>Computer Science</li>
                <li>Ajmer, Rajasthan</li>
              </ul>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image2"></div>
              <mat-card-title style="font-size: 30px;color: #0000ff;">CDAC-Netcom, Jaipur</mat-card-title>
              <mat-card-subtitle style="font-size: 20px;color: #0000ff;">Jaipur,Rajasthan</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <ul>
                <li>Training</li>
                <li>Android</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>

</section>
