<section>
    <div class="headerBar">
        <h1>About</h1>
    </div>
    <div class="content_about">
        <div >
          <h4 class="headerHeading" >
            Full Stack Web Developer Passionate About Coding. Always Ready To
            Learn New Things & Applying Them.
          </h4>
        </div>
        <div class="aboutContent">
          <p>
            I'm an innovative Full Stack Web Developer with 1+ years of work
            experience in web development. Enjoy being part of small teams that
            work at a fast pace. Mostly I worked on JavaScript frameworks such as
            React.js , Node.js, Angular. Area of expertise includes React JS, Node
            Js, MongoDB, Ionic 4.
          </p>
          <p>
          As a web developer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my mission-driven work ethic to literally change the world.
          </p>
        </div>
        </div>

</section>
