<section id='projects'>
    <div class="headerBar">
        <h1>Projects</h1>
    </div>
    <div class="content_about">
        <mat-card class="example-card col-md-6 col-6 left">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title style="font-size: 30px;color: #0000ff;">Assistant Reporting Dashboard</mat-card-title>
              <mat-card-subtitle style="font-size: 20px;color: #0000ff;">MERN STACK PROJECT</mat-card-subtitle>
              <mat-card-subtitle style="font-size: 20px;color: #0000ff;">1 Member</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                A web application to calculate the visitors stats 
                between a period of time. This application is capable of calculating 'Total Visitors', 'New v/s Returned Visitors', 'Visitors Growth', 'Geographical Stats', 'Visitors Sentiments',
                 'Top queries by visitors', 'Sales Lead', 'Potential Gap' and many more.
              </p>
            </mat-card-content>
            <mat-card-actions>
                <h4 style="padding-left: 20px;color: chartreuse;">Description: "https://www.cogniaim.com/products/business-assistant" </h4>
              </mat-card-actions>
          </mat-card>
          <div class="col-md-6 col-6 right">
              <img src="../../assets/reportingDashboardOne.png" alt="aa" class="imgRight">
          </div>
        </div>
<!-- -----------------------------------------------------------======================================================------------------------------------ -->

        <div class="content_about">
            <mat-card class="example-card col-md-6 left">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title style="font-size: 30px;color: #0000ff;">Call Center Quality Assessment</mat-card-title>
                  <mat-card-subtitle style="font-size: 20px;color: #0000ff;">MERN STACK + AI  PROJECT</mat-card-subtitle>
                  <mat-card-subtitle style="font-size: 20px;color: #0000ff;">2 Member(MERN Stack) + 2 Member(AI)</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    A web application that analyze the call recording of the call center agents and give score on that basis.
                    There was certain set of rules according to that is calculates the score of the agent.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <h4 style="padding-left: 20px;color: chartreuse;">Description: "https://www.cogniaim.com/products/call-center-quality-assistant" </h4>
                  </mat-card-actions>  
              </mat-card>
              <div class="col-md-6 right">
                  <img src="../../assets/img1.png" alt="aa" class="imgRight">
              </div>
              
            </div>

</section>
