<section class="myProfile">
  <div class="col-md-8 left vertical-center">
    <h1 style="font-size: 30px;">Hello I'm</h1>
    <h1 style="font-size: 50px; color: blue;">Piyush Adaniya.</h1>
    <h1 style="font-size: 35px; margin-top: 40px; margin-bottom: 20px;">
      I build value through Web App.
    </h1>
    <h1 style="font-size: 30px;">I'm a Full Stack Developer.</h1>
  </div>
  <div class="right col-md-4" style="float: right;">
    <img style="width: 352px;" src="../../assets/one.png" alt="pll" />
  </div>
</section>
