<section>
    <div class="headerBar">
        <h1>Skills</h1>
    </div>
    <div class="content_about col-md-12">

        <mat-card class="example-card col-md-4 ">
            <mat-card-header>
              <mat-card-title style="font-size: 30px;color: #0000ff;">HTML 5</mat-card-title>
              <!-- <img mat-card-image src="../../assets/react.png" alt="Photo of a Shiba Inu"> -->
            </mat-card-header>
            <img mat-card-image class="skillImg" src="../../assets/html.png" alt="Photo of a Shiba Inu">
          </mat-card>

          
          <mat-card class="example-card col-md-4 ">
            <mat-card-header>
              <mat-card-title style="font-size: 30px;color: #0000ff;">CSS</mat-card-title>
              <!-- <img mat-card-image src="../../assets/react.png" alt="Photo of a Shiba Inu"> -->
            </mat-card-header>
            <img mat-card-image class="skillImg" src="../../assets/css3.bbe29a6c.svg" alt="Photo of a Shiba Inu">
          </mat-card>

        <mat-card class="example-card col-md-4 ">
            <mat-card-header>
              <mat-card-title style="font-size: 30px;color: #0000ff;">React JS</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="skillImg" src="../../assets/react.692adb35.png" alt="Photo of a Shiba Inu">
          </mat-card>

          <mat-card class="example-card col-md-4 ">
            <mat-card-header>
              <mat-card-title style="font-size: 30px;color: #0000ff;">Node JS</mat-card-title>
                
            </mat-card-header>
            <img mat-card-image class="skillImg" src="../../assets/nodejs.c502658a.png" alt="Photo of a Shiba Inu">
          </mat-card>

          <mat-card class="example-card col-md-4 ">
            <mat-card-header>
              <mat-card-title style="font-size: 30px;color: #0000ff;">MongoDB</mat-card-title>
              
            </mat-card-header>
            <img mat-card-image class="skillImg" src="../../assets/mongo.22a4b423.png" alt="Photo of a Shiba Inu">
          </mat-card>

          <mat-card class="example-card col-md-4 ">
            <mat-card-header>
              <mat-card-title style="font-size: 30px;color: #0000ff;">Angular</mat-card-title>
              <!-- <img mat-card-image src="../../assets/react.png" alt="Photo of a Shiba Inu"> -->
            </mat-card-header>
            <img mat-card-image class="skillImg" src="../../assets/angular.png" alt="Photo of a Shiba Inu">
          </mat-card>
        </div>

</section>
